<div [@routerTransition]>

    <h2 style="color:#d81e05">Mortgage Application Successful</h2>
    <br />
    <br/>
    <br/>  
    <br/>
                <br/>
                <br/><br/><br/>           
                       
                            <label style="color:green;font-size:22px;">Congratulations! Your Mortgage Application has been submitted successfully..!</label>
                            <label style="color:green;font-size:32px;margin-left:160px">Thank you for choosing <i>Speed Racers</i></label>

                      
                 
           
       
</div>