<div [@routerTransition]>
    <h2 class="text-muted"><small>Property Info</small></h2>
    <div class="row">
        <div class="col-lg-6">

            <form>
                <!--<div *ngIf="!showTable">
                    Loading please wait...
                </div>-->
                <!--<fieldset class="form-group" >
                    <input type="text" class="form-control" formControlName="mlsId" placeholder="Please enter MLS ID here..">
                </fieldset>-->
                <!--<button type="submit" class="btn btn-secondary" (click)="onSubmit(mortgageModel)">Search</button>
                <button type="reset" class="btn btn-secondary" (click)="showProperties()">Show Properties</button>
                <button type="submit" class="btn btn-secondary" (click)="reset()">Reset</button>-->
                <!--<p>{{ mortgageModel.value | json }}</p>-->          


               <!--Data Table start-->
     <div class="container"> <!--  *ngIf="showTable" -->
    <table class="table table-bordered table-striped" border="1">
  <thead>
    <tr>
      <th>MLS Id</th>
      <th>List Price</th>
      <th>Area</th>
      <th>Amenities</th>
	  <th>State</th>
	  <th>Country</th>
	  <th>PostalCode</th>
	  <th>Stree tName</th>
      <th>city</th>
	  <th>Image</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rec of this.propertyData | paginate: { id: 'listing_pagination',
                                                      itemsPerPage: 10,
                                                      currentPage: page,
                                                      totalItems: totalRec }">
      <td>{{rec.mlsId}}</td>
      <td>{{rec.listPrice}}</td>
      <td>{{rec.area}}</td>
      <td>{{rec.amenities}}</td>
	  <td>{{rec.state}}</td>
	  <td>{{rec.country}}</td>
	  <td>{{rec.postalCode}}</td>
	  <td>{{rec.streetName}}</td>
	  <td>{{rec.city}}</td>
      <td border=3><img src={{rec.photo1}} height="150px" width="200px"/></td>
      
    </tr>
   </tbody>
</table>
<div>
		<pagination-controls  id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
	</div>
     </div>
                <!--Data Table End-->

            </form>
        </div>
    </div>