<div [@routerTransition]>
    <h2 class="text-muted"><small>Property Info</small></h2>
    <div class="row">
        <div class="col-lg-6">

            <form [formGroup]="mortgageModel" novalidate>
                <fieldset class="form-group">
                    <input type="text" class="form-control" formControlName="mlsId" placeholder="Please enter MLS ID here..">
                </fieldset>
                <button type="submit" class="btn btn-secondary" (click)="onSubmit(mortgageModel)">Search</button>
                <button type="submit" class="btn btn-secondary" (click)="reset()">Reset</button>
                <!--<p>{{ mortgageModel.value | json }}</p>-->
<!--<button (click)="download()">download </button>-->

                <!--Table with image start-->
                <div class="container">
                    <!-- [hidden]={{hideElement}}-->

                    <h1 class="text-center">Property Details</h1>
                    <!--raju-->
                    <div id="header" style="height:15%;width:100%;">
                        <div style='float:left'>
                            <img src={{returnData.photo1}} style="margin-left:5%;margin-top:5%" /><br/>
                        </div>
                        <div style='float:leftt'>
                            <table class="table table-striped">
                                <tr>
                                    <th>MLS Id:</th>
                                    <td>{{returnData.mlsId}}</td>
                                </tr>
                                <!--<tr>
                    <th>photo1:</th>
                    <td>Bill Gates</td>
                </tr>
                <tr>
                    <th>photo2:</th>
                    <td>Bill Gates</td>
                </tr>-->
                                <tr>
                                    <th>List Price:</th>
                                    <td>{{returnData.listPrice}}</td>
                                </tr>
                                <tr>
                                    <th>Area:</th>
                                    <td>{{returnData.area}}</td>
                                </tr>
                                <tr>
                                    <th>Amenities:</th>
                                    <td>{{returnData.amenities}}</td>
                                </tr>
                                <tr>
                                    <th>State:</th>
                                    <td>{{returnData.state}}</td>
                                </tr>
                                <tr>
                                    <th>Country:</th>
                                    <td>{{returnData.country}}</td>
                                </tr>
                                <tr>
                                    <th>PostalCode:</th>
                                    <td>{{returnData.postalCode}}</td>
                                </tr>
                                <tr>
                                    <th>Stree tName:</th>
                                    <td>{{returnData.streetName}}</td>
                                </tr>
                                <tr>
                                    <th>City:</th>
                                    <td>{{returnData.city}}</td>
                                </tr>

                                <!--<tr>
                    <th>Image:</th>
                   <td><img [src]={{hideElement}}></td>
                </tr>-->

                            </table>
                        </div>
                    </div>

                    <!--raju-->

                </div>
                <!--Table with image End-->           

            </form>
        </div>
    </div>