<div [@routerTransition]>
    <h2 class="text-muted"><small>Property Info</small></h2>  
    <div class="row">
        <div class="col-lg-6">
            
         <form  [formGroup] = "mortagageModel" novalidate>
            <fieldset class="form-group">
                <input type="text" class="form-control" formControlName="mlsId" placeholder="Please enter MLS ID here..">                   
            </fieldset>     
             <button type="submit" class="btn btn-secondary" (click)="onSubmit(mortagageModel)">Search</button>
            <button type="reset" class="btn btn-secondary">Reset</button>
             <p>{{ mortagageModel.value | json }}</p>
         </form>
        </div>  
</div>
