
<div [@routerTransition]>
     
    <h2 style="color:#d81e05">Choose Mortgage Plans</h2>

   <div class="row">
        <div class="col-lg-6">
            <!--(ngSubmit)="onSubmit(mortgageEligibiltyModel)"-->
            <form [formGroup]="mortgageDocumentsModel" novalidate>

                    <fieldset class="form-group">
                        <label class="center-block">Goal <span style="color: red">*</span> </label>
                        <select class="form-control" formControlName="goal">
              <option label="Select One"  selected></option>
                <option *ngFor="let goal of goalArr" [ngValue]="goal">{{goal}}</option>
                 </select>
                    </fieldset>



                <fieldset class="form-group">
                    <label>Purchase Price <span style="color: red">*</span></label>
                    <input id="purchaseprice" class="form-control" formControlName="purchaseprice" required>
                    <div *ngIf="!mortgageDocumentsModel.controls.purchaseprice?.valid && (mortgageDocumentsModel.controls.purchaseprice?.dirty || mortgageDocumentsModel.controls.purchaseprice?.touched)">
                        <div *ngIf="mortgageDocumentsModel.controls['purchaseprice'].hasError('required')" class="alert alert-danger">
                            Please enter purchase Price
                        </div>
                        <!--<div *ngIf="mortgageEligibiltyModel.controls['name'].hasError('minlength')" class="alert alert-danger">
                            Please enter atleast 8 chars
                        </div>
                        <div *ngIf="mortgageEligibiltyModel.controls['name'].hasError('maxlength')" class="alert alert-danger">
                            Please enter maximum limit of 16 chars
                        </div>
                        <div *ngIf="mortgageEligibiltyModel.controls['name'].hasError('pattern')" class="alert alert-danger">
                            Please enter Alphbets only
                        </div>-->
                    </div>
                </fieldset>



                <fieldset class="form-group">
                    <label>Down Payment <span style="color: red">*</span></label>
                    <input id="downpayment" class="form-control" formControlName="downpayment" required>
                    <div *ngIf="!mortgageDocumentsModel.controls.downpayment?.valid && (mortgageDocumentsModel.controls.downpayment?.dirty || mortgageDocumentsModel.controls.downpayment?.touched)">
                        <div *ngIf="mortgageDocumentsModel.controls['downpayment'].hasError('required')" class="alert alert-danger">
                            Please enter Down  Payment
                        </div>
                        <!--<div *ngIf="mortgageEligibiltyModel.controls['name'].hasError('minlength')" class="alert alert-danger">
                            Please enter atleast 8 chars
                        </div>
                        <div *ngIf="mortgageEligibiltyModel.controls['name'].hasError('maxlength')" class="alert alert-danger">
                            Please enter maximum limit of 16 chars
                        </div>
                        <div *ngIf="mortgageEligibiltyModel.controls['name'].hasError('pattern')" class="alert alert-danger">
                            Please enter Alphbets only
                        </div>-->
                    </div>
                </fieldset>

 <fieldset class="form-group">
                        <label class="center-block">Time :  </label>
                        <select class="form-control" formControlName="timing">
              <option label="Select One"  selected></option>
                <option *ngFor="let timeval of timeArr" [ngValue]="timeval">{{timeval}}</option>
                 </select>
                    </fieldset>

               



                <fieldset class="form-group">
                    <label>Postal Code <span style="color: red">*</span></label>
                    <input id="purchaseprice" class="form-control" formControlName="postalcode" required>
                    <div *ngIf="!mortgageDocumentsModel.controls.postalcode?.valid && (mortgageDocumentsModel.controls.postalcode?.dirty || mortgageDocumentsModel.controls.postalcode?.touched)">
                        <div *ngIf="mortgageDocumentsModel.controls['postalcode'].hasError('required')" class="alert alert-danger">
                            Please enter Postal Code
                        </div>
                        <!--<div *ngIf="mortgageEligibiltyModel.controls['name'].hasError('minlength')" class="alert alert-danger">
                            Please enter atleast 8 chars
                        </div>
                        <div *ngIf="mortgageEligibiltyModel.controls['name'].hasError('maxlength')" class="alert alert-danger">
                            Please enter maximum limit of 16 chars
                        </div>
                        <div *ngIf="mortgageEligibiltyModel.controls['name'].hasError('pattern')" class="alert alert-danger">
                            Please enter Alphbets only
                        </div>-->
                    </div>
                </fieldset>


                 <fieldset class="form-group">
                    <label>Featured Rates <span style="color: red">*</span></label>
                     <table class="table table-bordered table-striped" border="1">
                    <thead>
                    <tr>
                        <th>Select</th>
                        <th>Term</th>
                        <th>Special Offers</th>
                        <th>APR</th>
                       

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rate of ratesArr">
      <td><input type="radio" formControlName="ratesModelId" value={{rate.id}} checked=""></td>
      <td>{{rate.term}}</td>
      <td>{{rate.specialoffers}}</td>
      <td>{{rate.APR}}</td>
    </tr>
  </tbody>
                     </table>
                </fieldset>






 <div style="width:960px; position:relative;">
        <iframe src="https://www.mortgagecalculator.net/embeddable/v2/?size=1" width="100%" frameborder=0 scrolling=no height=300></iframe>
        <!--<a style="width: 100%;background: #075269;color: #fff;text-align: center;font-weight: bold;display: block;clear: both;padding: 3px 0;font-size: 12px;text-transform: uppercase;font-family: arial;text-decoration: none; cursor:pointer; margin-top:-36px; position:absolute;" href="https://www.mortgagecalculator.net/">Powered By www.MortgageCalculator.net</a>-->
    </div>

<br/>
<button class="btn rounded-btn" (click)="onSubmitBack(mortgageDocumentsModel)">Back</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button class="btn rounded-btn" (click)="onSubmitNext(mortgageDocumentsModel)">Next</button>  







            </form>
            

</div>
    





         


 




      


