<div [@routerTransition]>
    <h2 style="color:#d81e05">Property Details</h2><br/>
  <div class="row">
    <div class="col-lg-6">
      <form [formGroup]="mortgagePropertyModel" novalidate>
        <fieldset class="form-group">
        
          <select class="form-control" formControlName="purposeofloan" (ngModelChange)="onTypeofPropertyChange($event)">
              <option label="Select One" selected></option>
            <option *ngFor="let purpofloan of purposeofLoanArr" [ngValue]="purpofloan">{{purpofloan}}</option>
			</select>
        </fieldset>

        <div *ngIf="propertyselected">                  
            <!--Search By MLS Id starts here-->
             <!--<h2 class="text-muted"><small>Property Info</small></h2>-->

             <!--<form [formGroup]="mortgageModel" novalidate>-->
                <fieldset class="form-group">
                    <input type="text" class="form-control" formControlName="mlsId" placeholder="Please enter MLS ID here..">
                </fieldset>
                <button type="submit" class="btn btn-secondary" (click)="onSubmit(mortgagePropertyModel)">Search</button>
                <button type="submit" class="btn btn-secondary" (click)="reset()">Reset</button>
                <!--<p>{{ mortgageModel.value | json }}</p>-->
<!--<button (click)="download()">download </button>-->

                <!--Table with image start class="container"-->
                
                <div > 
                    <!-- [hidden]={{hideElement}}-->
                    <!--<h1 class="text-center">Property Details</h1>-->
                    <!--raju-->
                    <!--style="height:15%;width:100%;"-->
<br/>
                    <div id="header" *ngIf="returnData">
                        <div style='float:left'>
                            <img src={{returnData.photo1}}  /><br/>
                        </div>
                    </div>       
                </div>
                 <div style='float:left' *ngIf="returnData">
                     <br/>
                            <table class="table table-striped" style="width:100%">
                                <tr>
                                    <th>MLS Id:</th>
                                    <td>{{returnData.mlsId}}</td>
                                </tr>
                               
                                <tr>
                                    <th>List Price:</th>
                                    <td>{{returnData.listPrice}}</td>
                                </tr>
                                <tr>
                                    <th>Area:</th>
                                    <td>{{returnData.area}}</td>
                                </tr>
                                <tr>
                                    <th>Amenities:</th>
                                    <td>{{returnData.amenities}}</td>
                                </tr>
                                <tr>
                                    <th>State:</th>
                                    <td>{{returnData.state}}</td>
                                </tr>
                                <tr>
                                    <th>Country:</th>
                                    <td>{{returnData.country}}</td>
                                </tr>
                                <tr>
                                    <th>PostalCode:</th>
                                    <td>{{returnData.postalCode}}</td>
                                </tr>
                                <tr>
                                    <th>StreetName:</th>
                                    <td>{{returnData.streetName}}</td>
                                </tr>
                                <tr>
                                    <th>City:</th>
                                    <td>{{returnData.city}}</td>
                                </tr>

                                <!--<tr>
                    <th>Image:</th>
                   <td><img [src]={{hideElement}}></td>
                </tr>-->

                            </table>
                        </div> 
       </div>
            <!--Search By MLS Id starts here-->
            

            <div *ngIf="propertynotselected">
             <!--<p>property needs to search</p>-->
                <!--Show all properties start-->

                <!--<div *ngIf="!showTable">
                    Loading please wait...
                </div>-->   

               <!--Data Table start-->
     <div class="container"> <!--  *ngIf="showTable" -->
    <table class="table table-bordered table-striped" border="1">
  <thead>
    <tr>
      <th>Select One</th>
      <th>MLS ID</th>
      <th>List Price</th>
      <th>Area</th>
      <th>Amenities</th>
	  <th>State</th>
	  <th>Country</th>
	  <th>PostalCode</th>
	  <th>StreetName</th>
      <th>City</th>
	  <th>Image</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rec of this.propertyData | paginate: { id: 'listing_pagination',
                                                      itemsPerPage: 10,
                                                      currentPage: page,
      
                                                      totalItems: totalRec }">
      <td><input type="radio" formControlName="selectedMLSId" value={{rec.mlsId}} checked=""></td>                                                
      <td>{{rec.mlsId}}</td>
      <td>{{rec.listPrice}}</td>
      <td>{{rec.area}}</td>
      <td>{{rec.amenities}}</td>
	  <td>{{rec.state}}</td>
	  <td>{{rec.country}}</td>
	  <td>{{rec.postalCode}}</td>
	  <td>{{rec.streetName}}</td>
	  <td>{{rec.city}}</td>
      <td border=3><img src={{rec.photo1}} height="150px" width="200px"/></td>
      
    </tr>
   </tbody>
</table>
<div>
		<pagination-controls  id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
	</div>
     </div>                




                <!--Show all properties end-->
            </div>
          <br/> 
          <div *ngIf="returnData">
          <button class="btn rounded-btn" style="margin-right:474px" (click)="showmap()">Explore Neighbourhood</button>   
          </div>
          <br/>
          <div *ngIf="showMap">
          <iframe
          width="1200"
          height="450"
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBF4vo3a6ZGEBUH4nmunVeMu3EWLxef6Wc
            &q=77096" allowfullscreen>
        </iframe>
        </div>


          
           <button class="btn rounded-btn" style="margin-right:474px" (click)="onSubmitBack(mortgagePropertyModel)">Back</button>
        <button class="btn rounded-btn" (click)="onSubmitNext(mortgagePropertyModel)">Next</button>
        
      </form>
   
      </div>
      </div>
    </div>